ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.row {
    display: flex;
}

.col-1 {
    width: 8%;
}

.col-2 {
    width: 65%;
}

.col-3 {
    width: 20%;
}

img {
    width: 100%;
}

#header {
    background-color: #009270;
    padding: 10px;
    position: relative;
}

#header .row {
    justify-content: space-between;
}

#main-navigation ul {
    display: flex;
}

#main-navigation ul li {
    font-size: 18px;
    margin: 0px 15px;
    padding-top: 8px;
}

#main-navigation ul li a {
    color: #fff;
    text-decoration: none;
}

.search {
    padding-top: 8px;
}

.menu-btn {
    position: absolute;
    right: 10px;
    top: 15px;
    background-color: transparent;
    border: none;
    display: none;
    pointer-events: none;
}

.menu-btn .line {
    display: block;
    width: 25px;
    height: 4px;
    background-color: #fff;
    margin-bottom: 3px;
    transition: 1s;
}

input[value='toggleMenu'] {
    position: absolute;
    right: 7px;
    top: 12px;
    display: block;
    height: 21px;
    width: 36px;
    opacity: 0;
}

@media(max-width:1200px) {
    .col-2 {
        width: 60%;
    }
    .col-3 {
        width: 25%;
    }
    #main-navigation ul li {
        margin: 0px 8px;
    }
}

@media(max-width:992px) {
    .menu-btn {
        display: block;
    }
    .col-1 {
        width: 100px;
    }
    /* #main-navigation {
        display: none;
    } */
    #main-navigation {
        /* display: none; */
        /* transform: translateX(-110%); */
        transform: scale(1, 0);
        transform-origin: top;
        transition: 1s;
        position: absolute;
        width: 100%;
        top: 50px;
        background-color: #009270;
        left: 0px;
    }
    #main-navigation ul {
        display: block;
        text-align: center;
        padding: 10px;
    }
    .col-3 {
        width: 60%;
    }
    input[value='toggleMenu']:checked~#main-navigation {
        /* display: block; */
        /* transform: translateX(0%); */
        transform: scale(1, 1);
    }
    input[value='toggleMenu']:checked~.menu-btn .line:first-child {
        transform: rotate(45deg);
        margin-top: 4px;
    }
    input[value='toggleMenu']:checked~.menu-btn .line:last-child {
        transform: rotate(-45deg);
        margin-top: -15px;
    }
    input[value='toggleMenu']:checked~.menu-btn .line:nth-child(2) {
        opacity: 0;
    }
}

@media(max-width:768px) {
    .row {
        display: block;
    }
    .col-3 {
        width: 100%;
    }
}