.musicPlayer {
    margin: 20px 0px;
}

#songsList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    border-right: 1px solid gray;
}

#songsList li {
    margin: 0px 10px 20px;
    width: 22%;
    text-align: center;
    cursor: pointer;
}

#songsList li img {
    width: 100%;
    height: 200px;
}