/* Global Settings */

body {
    margin: 0px;
    background-color: #EAEAEA;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: #000;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    /* font-family: 'Roboto', sans-serif; */
}

p {
    margin-top: 0px;
}


/* Helper Classes */

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.container {
    width: 1140px;
    margin: 0 auto;
}


/* Generic Settings */

.sprite {
    background-image: url("https://drop.ndtv.com/homepage/images/svg_sprite.svg");
}

#header {
    padding: 5px 0px;
    background-color: #3E3E3E;
    text-align: center;
}

#header ul li {
    display: inline-block;
}

#header .logo {
    width: 9%;
}

#header .logo a {
    display: block;
    height: 25px;
    width: 120px;
    margin-top: 5px;
}

#header .user-icons .sprite {
    height: 29px;
    width: 25px;
    display: inline-block;
    background-size: 200px 60px;
}

.twitter {
    background-position: 0px -30px;
}

.fb {
    background-position: -40px -30px;
}

.stories {
    background-position: -73px -30px;
}

.bell {
    background-position: -175px -30px;
}

.search {
    background-position: -110px -30px;
}

#header .header_top {
    text-align: center;
    margin-bottom: 12px;
}

#header .header_top ul li {
    margin: 0px 10px;
}

#header .header_top a {
    text-transform: uppercase;
    font-size: 8px;
    color: #c6c6c6;
    display: inline-block;
    padding: 5px 4px;
    border-radius: 3px;
}

#header .header_top a:hover {
    background-color: #000;
}

#header .user-icons {
    width: 17%;
}

#header .user-icons ul li {
    margin: 0px 5px;
}

#main-navigation {
    width: 73%;
    margin-top: 5px;
}

#main-navigation ul li {
    margin: 0px 12px;
}

#main-navigation ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

#banner {}

#content {
    margin-top: 50px;
}

#content a {
    font-family: 'Roboto', sans-serif;
}

#content .widget {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
}

#sidebar_1 {
    width: 27%;
}

#sidebar_1 .big_story {
    position: relative;
}

#sidebar_1 .big_story h2 {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}

#sidebar_1 .big_story h2 a {
    font-weight: 700;
}

#sidebar_1 .big_story a {
    color: #000;
}

#sidebar_1 .big_story img {
    position: absolute;
    margin-left: -15px;
    /* z-index: -1; */
}

#sidebar_1 .big_story h3 {
    position: relative;
    margin: 160px -15px 0px;
    font-size: 14px;
    padding: 15px;
    z-index: 1;
    background-color: #fff;
    /* font-weight: 100; */
}

#sidebar_1 .top_story .image {
    width: 30%;
}

#sidebar_1 .top_story .image img {
    width: 100%;
}

#sidebar_1 .top_story .text {
    width: 60%;
}

#sidebar_1 .top_story .text h4 {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
}

#sidebar_1 .top_story li {
    margin-bottom: 20px;
}

#sidebar_1 .top_story .text a {
    color: #000;
}

#main {
    width: 45%;
    margin-left: 30px;
}

#main .title_news {
    background-color: #fff;
    position: relative;
    margin-bottom: 20px;
}

#main .news_text {
    position: absolute;
    width: 100%;
    background-color: #fff;
    bottom: 0px;
    padding: 10px 0px;
}

#main .news_text h1 {
    font-size: 18px;
    text-align: center;
    padding: 0px 10px;
}

#main .news_text h1 a {
    color: #000;
    font-weight: 800;
}

#main .sub_news {
    background-color: #fff;
    width: 50%;
}

#main .sub_news h3 {
    padding: 10px;
    font-size: 14px;
}

#main .headlines .col-1 {
    width: 65%;
    background-color: #fff;
    padding: 8px;
}

#main .headlines .col-1 h4 {
    font-size: 14px;
    margin-bottom: 0px;
}

#main .headlines .col-2 {
    width: 30%;
    position: relative;
}

#main .headlines .col-2 h4 {
    position: absolute;
    bottom: 0px;
}

#main .headlines .col-2 img {
    height: 200px;
}

#main .headlines .text {
    width: 65%;
}

#main .headlines .image {
    width: 20%;
}

#main .headlines .img {
    width: 20%;
}

#main .headlines ul li {
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#main .headlines ul li:last-child {
    border: none;
}

#sidebar_2 {
    width: 22%;
    margin-left: 30px;
}

#footer {}


/* Specific Settings */


/* Index Page*/


/* About Page */